<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl -->
<target name="Capella 5.2.0" sequenceNumber="1652358684">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.ui" version="0.0.0"/>
      <unit id="org.eclipse.core.resources" version="0.0.0"/>
      <unit id="org.eclipse.gmf.runtime.diagram.ui" version="0.0.0"/>
      <unit id="org.eclipse.gmf.runtime.diagram.ui" version="0.0.0"/>
      <repository id="eclipse" location="https://download.eclipse.org/releases/2020-09/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.diffmerge" version="0.0.0"/>
      <repository id="diffmerge-core" location="https://download.eclipse.org/diffmerge/releases/0.13.1/emf-diffmerge-site"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.sirius" version="0.0.0"/>
      <unit id="org.eclipse.sirius.common.acceleo.aql" version="0.0.0"/>
      <unit id="org.eclipse.sirius.diagram" version="0.0.0"/>
      <unit id="org.eclipse.sirius.diagram.ui" version="0.0.0"/>
      <repository id="sirius" location="https://archive.eclipse.org/sirius/updates/releases/6.5.1/2020-09/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <repository id="kitalpha-runtime-core-master" location="https://download.eclipse.org/kitalpha/updates/release/runtime/5.2.0/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.polarsys.capella.core.data.gen" version="0.0.0"/>
      <unit id="org.polarsys.capella.core.sirius.analysis" version="0.0.0"/>
      <repository id="capella-5.2.0" location="https://download.eclipse.org/capella/core/updates/releases/5.2.0-R20211130-125709/org.polarsys.capella.rcp.site/"/>
    </location>
  </locations>
</target>
